@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@100;200;300;400;500;600;700;800;900&family=Poppins&family=Sacramento&display=swap');

 *{
    margin: 0 ;
    padding:0 ;
    box-sizing: border-box;
    font-family: "Poppins";
    scroll-behavior: smooth;

 }

 /* BODY */
 #scrolltoTop{

    position: fixed;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border: 1px #252525;
    border-radius: 50%;
    background: #252525;
    box-shadow: 0 0 40px rgba(37, 37, 37, 0.25);
    color: #fff;
    outline: none;
    cursor: pointer;


    
    background-color: aqua;
    .logo_title, .navbar ul li a {color: #fff;}
 }
 .navbar ul{
   display: flex;
   align-items: center;
   list-style: none;
 }

.navbar ul li a{
   padding: 12px;
   margin: 0 6px;
}

.navbar ul li a:hover{
   color: #fff;
}

section{
   height: 100vh;
   background: radial-gradient(rgb(139,195,245),#1294b8);
}