 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

 *{
    margin: 0 ;
    padding:0 ;
    box-sizing: border-box;

 }

 body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;font-size: ; }
 a {text-decoration: none;}
 .navbar{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    .logo_title, .navbar ul li a {color: #fff;}
 }
 .navbar ul{
   display: flex;
   align-items: center;
   list-style: none;
 }

.navbar ul li a{
   padding: 12px;
   margin: 0 6px;
}

.navbar ul li a:hover{
   color: #fff;
}

section{
   height: 100vh;
   background: radial-gradient(rgb(139,195,245),#1294b8);
}